.product{
    display: flex;
    margin-left: 70px;
    border-bottom: 1px solid lightgray;
    padding : 10px;
}
.product-name {
    color: rgb(54, 54, 231);
}
.btn-regular {
    background-color: orange;
    width: 170px;
height: 30px;
border: 1px solid gray;
border-radius: 5px;
cursor: pointer;
}
.icon-color{
    color: goldenrod;
}
